<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../pics/favico.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/About.css">
    <title>instant travel</title>
    
</head>
<body id="body">
    <div class="container">
        <header class="head">
            <nav class="navbar">
                <ul id="nav-ul">
                    <li class="nav-li"><a href="home.html" id="a3" >Home</a></li>
                    <li class="nav-li"><a href="About.html" id="a4">About</a></li>
                    <li class="nav-li"><a href="Tourist-spot.html" id="a1">Tourist-spot</a></li>
                    <li class="nav-li"><a href="Location-view.html" id="a2">Location-view</a></li>
                    <li class="nav-li"><a href="Hotel-list.html" id="a5">Hotel-list</a></li>
                </ul>
            </nav>
        </header>
        <section class="sec2">
            sec 2 in about
        </section>
    </div>
    <!-- <script src="../public/js/home.js"></script> -->
</body>
</html>