<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../pics/favico.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>instant travel</title>
    
</head>
<body id="body">
    <div class="container">
        <div class="bgmain">
            <span class="box" style = "--i:12;"></span>
            <span class="box" style = "--i:14;"></span>
            <span class="box" style = "--i:24;"></span>
            <span class="box" style = "--i:10;"></span>
            <span class="box" style = "--i:6;"></span>
            <span class="box" style = "--i:23;"></span>
            <span class="box" style = "--i:10;"></span>
            <span class="box" style = "--i:12;"></span>
            <span class="box" style = "--i:12;"></span>
            <span class="box" style = "--i:24;"></span>
            <span class="box" style = "--i:30;"></span>
            <span class="box" style = "--i:34;"></span>
            <span class="box" style = "--i:56;"></span>
            <span class="box" style = "--i:66;"></span>
            <span class="box" style = "--i:23;"></span>
            <span class="box" style = "--i:25;"></span>
            <span class="box" style = "--i:27;"></span>
            <span class="box" style = "--i:17;"></span>
            <span class="box" style = "--i:18;"></span>
            <span class="box" style = "--i:17;"></span>
            <span class="box" style = "--i:20;"></span>
            <span class="box" style = "--i:26;"></span>
            <span class="box" style = "--i:29;"></span>
            <span class="box" style = "--i:27;"></span>
            <span class="box" style = "--i:23;"></span>
            <span class="box" style = "--i:19;"></span>
            <span class="box" style = "--i:24;"></span>
            <span class="box" style = "--i:26;"></span>
            <span class="box" style = "--i:18;"></span>
            <span class="box" style = "--i:20;"></span>
            <span class="box" style = "--i:35;"></span>
            <span class="box" style = "--i:16;"></span>
            <span class="box" style = "--i:12;"></span>
        </div>
        <header>
            <nav class="navbar">
                <ul id="nav-ul">
                    <li class="nav-li"><a href="home.html" id="a3" >Home</a></li>
                    <li class="nav-li"><a href="About.html" id="a4">About</a></li>
                    <li class="nav-li"><a href="Tourist-spot.html" id="a1">Tourist-spot</a></li>
                    <li class="nav-li"><a href="Location-view.html" id="a2">Location-view</a></li>
                    <li class="nav-li"><a href="Hotel-list.html" id="a5">Hotel-list</a></li>
                </ul>
            </nav>
        </header>
        <section id="main">
            <div id="main-1" >
            <h1>Welcome To Tourist Site</h1>
                <p id="para">
                This is the site from where you can checkout best places that are really enjoyable in the world. <br>likewise, various countries as well as Mythical places which are placed in various countries.
                </p>
            </div>
        </section>
    </div>
    <script src="../public/js/home.js"></script>
</body>
</html>