<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../pics/favico.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/Tourist-spot.css">
    <title>instant travel</title>
</head>
<body id="body">
    <div class="container">
        <header class="head">
        <nav class="navbar">
            <ul id="nav-ul">
                <li class="nav-li"><a href="home.html" id="a3" >Home</a></li>
                <li class="nav-li"><a href="About.html" id="a4">About</a></li>
                <li class="nav-li"><a href="Tourist-spot.html" id="a1">Tourist-spot</a></li>
                <li class="nav-li"><a href="Location-view.html" id="a2">Location-view</a></li>
                <li class="nav-li"><a href="Hotel-list.html" id="a5">Hotel-list</a></li>
            </ul>
        </nav>
    </header>
        <section id="sec1">
            <div id="new"> 
                <div class = "card">
                    <img src="../pics/india.jpg" alt="india">
                    <div class="card-content">
                        <h1>Welcome To India</h1>
                        <p>India, officially the Republic of India (ISO: Bhārat Gaṇarājya),[25] is a country in South Asia. It became the world's most populous country in 2023, with a current population of over 1.425 billion.[26][27] India is the seventh-largest country by area,</p>
                    </div>
                    <a href="https://en.wikipedia.org/wiki/India" target="_blank">See More about India</a>
                </div>
                <div class="card">
                    <img src="../pics/Australia.jpg" alt="Australia">
                    <div class="card-content">
                        <h1>Welcome To the Australia</h1>
                        <p>Australia, officially the Commonwealth of Australia, is a sovereign country comprising the mainland of the Australian continent, the island of Tasmania, and numerous smaller islands.Australia is the largest country by area in Oceania a</p>
                    </div>
                    <a href="https://en.wikipedia.org/wiki/Australia" target="_blank">See More about Australia</a>
                </div>
                <div class="card">
                    <img src="../pics/Paris.jpg" alt="Paris">
                    <div class="card-content">
                        <h1>Welcome To the Paris</h1>
                        <p>Paris (English:; French pronunciation: (listen)) is the capital and most populous city of France, with an official estimated population of 2,102,650 residents as of 1 January 2023 in an area of more than 105 km^2</p>
                    </div>
                    <a href="https://en.wikipedia.org/wiki/Paris" target="_blank">See More about Paris</a>
                </div>
                <div class="card">
                    <img src="../pics/dubai.jpg" alt="Dubai">
                    <div class="card-content">
                        <h1>Welcome To the Dubai</h1>
                        <p>Many theories have been proposed as to the origin of the word "Dubai". One theory suggests the word used to be the souq in Ba.[21] An Arabic proverb says "Daba Dubai" (Arabic: دبا دبي), meaning "They came with a lot of money."</p>
                    </div>
                    <a href="https://en.wikipedia.org/wiki/Dubai" target="_blank">See More about Dubai</a>
                </div>
                <div class="card">
                    <img src="../pics/NewZea.jpg" alt="newzealand">
                    <div class="card-content">
                        <h1>Welcome To the NewZealand</h1>
                        <p>New Zealand (Māori: Aotearoa [aɔˈtɛaɾɔa]) is an island country in the southwestern Pacific Ocean. It consists of two main landmasses—the North Island (Te Ika-a-Māui) and the South Island (Te Waipounamu)—and over 700 smaller islands.</p>
                    </div>
                    <a href="https://en.wikipedia.org/wiki/New_Zealand" target="_blank">See More about Newzealand</a>
                </div>
                <div class="card amaze">
                    <img src="../pics/America.jpg" alt="america">
                    <div class="card-content">
                        <h1>Welcome To the America</h1>
                        <p>The United States of America (U.S.A. or USA), commonly known as the United States (U.S. or US) or America, is a country primarily located in North America. It consists of 50 states, a federal district, five major unincorporated territories, nine Minor Outlying Islands,[i] and 326 Indian reservations.</p>
                    </div>
                    <a href="https://en.wikipedia.org/wiki/United_States" target="_blank">See More about America</a>
                </div>
            </div> 
        </section>
        <div class="next">
            <h1 id="head1">Go for hotel-booking &rArr; <a href="Hotel-list.html" id="in-head">Go Now</a></h1>
        </div>
        <footer id="contact">
            <div class="contain">
                <h1>Contact Us</h1>
            </div>
            <div class="form">
                <form action="#" class="form">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name...">
                    <label for="contact">Contact no:</label>
                    <input type="text" name="contact" id="contactno" placeholder="enter your contact no..">
                    <label for="date">Date:</label>
                    <input type="date" name="date" id="date" placeholder="date:">
                    <label for="selector">Country:</label>
                    <select name="selector" id="select" >
                        <option selected value="">--select your country--</option>
                        <option  value="India">India</option>
                        <option  value="US">Unites-State</option>
                        <option  value="Australia">Australia</option>
                        <option  value="Dubai">Dubai</option>
                        <option  value="Newzealand">Newzealand</option>
                    </select>
                    <label for="address">Address:</label>
                    <textarea name="address" id="addr" placeholder="Enter your address.."></textarea>
                </form>
            </div>  
            <button id="btn">Submit</button>
        </footer>
    </div>
    <script src="../public/js/Tourist-spot.js"></script>
</body>
</html>